<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Free Juice Recipes</h1>
    <p>
      <center>
      <li><a href="https://juicerecipes.com/"><em>Juice Recipe Link 1</li>
      <li><a href="http://www.rebootwithjoe.com/recipes/"><em>Juice Recipe Link 2</li>
      <li><a href="http://allrecipes.com/recipes/drinks/juice/"><em>Juice Recipe Link 3</li>
      <li><a href="http://www.all-about-juicing.com/juicer-recipes.html"><em>Juice Recipe Link 4</li>
      <li><a href="http://juicing-for-health.com/fun-free-recipes/juicer-recipes.html"><em>Juice Recipe Link 5</li>
      <li><a href="https://www.juicemaster.com/us/recipes/juices"><em>Juice Recipe Link 6</li>
      </center>
    </p>
  </body>
</html>