<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | CS 518 Contacts</title>
  </head>
  <body>
    <h1>Contact Info</h1>
    <p>Emails:</p>
    <p>
      Brian Everetts: everetb@sunyit.edu
    </p>
    <p>
      Antonia Mondello: mondela@sunyit.edu
    </p>
  </body>
</html>