<% provide(:title, "Source") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Source page</title>
  </head>
  <body>
    <h1>Source</h1>
    <p>
      To visit source code here:
      <a href="https://bitbucket.org/everetb/cs_app"> BitBucket
      </a>
     
    </p>
  </body>
</html>