<div class="center jumbotron">
  <h1>Welcome CS 518 Web App</h1>

  <h2>
    This is the home page for the Juice Web App. Create your login below. 
  </h2>

  <table>
    
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <p>    </p>
  <%= link_to "See links to Juice Recipes", about_path, class: "btn btn-lg btn-primary" %>
  </table>
</div>


  <center>
     <p><u>Technologies and processes used in this web app are the following:</u></p>
  </center>
 <div> 
  <center>
      <table style="width:100%">
        <tr>
            <td>Programming language: Ruby</td>
            <td>Scripting: JavaScript</td>
            <td>Database: SQLite</td>
            <td>SASS development IDE: Cloud9</td>
            
        </tr>

        <tr>
            <td>Wep-application framework: Rails</td>
            <td>Version control: BitBucket</td>
            <td>Cloud application platform: Heruko</td>
            <td>Development Methodology: Agile/Scrum, 2 week sprints</td>
        </tr>
      </table>

    </center>
    </div>
    
<%= link_to image_tag("", alt: ""),
            'http' %>
            

    <style>
u { 
    text-decoration: underline;
}
</style>
